{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<img src="{{ product.image_url }}">
<p><b>PRICE: {{ product.unit_price }}</b></p>
<p><b>MRP: {{ product.unit_mrp }}</b></p>
<p><b>You save: {{ product.discount_price }}Rs ({{ product.discount_percent | floatformat:2 }}%) </b></p>
<p><b>Tags: </b>{% for tag in tags %}{{ tag }}  {% endfor %}</p>
<table>
    <tr>
        <td>Description</td>
        <td>{{ product.description }}</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{{ product.category }}</td>
    </tr>
    <tr>
        <td>Style</td>
        <td>{{ product.style }}</td>
    </tr>
    <tr>
        <td>Note</td>
        <td>{{ product.note }}</td>
    </tr>
</table>
<br>
<br>
<table>
    {% for variant in variants %}
    {% if variant.is_available %}
    <tr class="option">
        <td>
            <input type="radio" autocomplete="off" name="variant" value="{{ variant.pk }}" class = "variant-cbox"/>
        </td>
        <td>
            {{ variant.get_type_display }}: {{ variant.name }}
        </td>
        <td>
            <img src = "{{ variant.image_url }}">
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class="form-group row">
    <input type="number" name="quantity" class="form-control col-1" id="quantity">
    <button class = "btn btn-primary" id = "add-to-cart">Add to Cart</button>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).on('click', '#add-to-cart', function(e){
        quantity = $('#quantity').val()
        variant_pk = $('input[name=variant]:checked').val()
        console.log(quantity)
        console.log(variant_pk)

        myurl = '/order/add-to-cart/'
        $.ajax({
            type: 'POST',
            url: myurl,
            data: {
                'quantity': quantity,
                'variant_pk': variant_pk
            },
            dataType: 'json',
            success: function (data){
                console.log(data)
                $('.alert').remove()
                str = '<div class="alert alert-'+data.type+' alert-dismissible" role="alert">' +
                        data.message +
                        '</div>'
                $('nav').after(str)
            }
        })
    })



</script>
{% endblock %}