{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Cart
{% endblock %}

{% block content %}
<h1>Cart</h1>
<div>
    {% if cart_is_empty %}
        <div>
            Cart is empty.
        </div>
    {% else %}
        <div>
            <b>Total items: <span id="quantity">{{ quantity }}</span><br>
                Total amount: <span id="amount">{{ amount }}</span><br></b>
            <table class="table">
                <thead>
                    <tr>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                {% for order_item in order_items %}
                <tr>
                    <td><img width="200px" src = "{{ order_item.variant.product.image_url }}"></td>
                    <td>{{ order_item.variant.product.name }} ({{ order_item.variant.name }})</td>
                    <td>{{ order_item.quantity }}</td>
                    <td>{{ order_item.total_amount }}</td>
                    <td><button class = "btn btn-danger btn-sm text-white delete-item" data-id="{{ order_item.pk }}">&times</button></td>
                </tr>
                {% endfor %}
            </table>
            <a class="btn btn-primary" href="{% url 'place-order' %}">Proceed to Checkout</a>

        </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).on('click', '.delete-item', function (e){
        var val = $(this).attr('data-id')
        row = $(this).parent().parent()
        myurl = '/order/ajax-delete-from-cart/'

        $.ajax({
            type: 'POST',
            url: myurl,
            data: {
                'order_item_pk': val
            },
            dataType: 'json',
            success: function (data){
                if (data.quantity == 0){
                    location.reload()
                    return
                }
                row.remove()
                $('.alert').remove()
                str = '<div class="alert alert-'+data.type+' alert-dismissible" role="alert">' +
                        data.message +
                        '</div>'
                $('nav').after(str)
                $('#quantity').text(data.quantity)
                $('#amount').text(data.amount)
            }
        })
    })
</script>
{% endblock %}