{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Order {{order.id}}
{% endblock %}

{% block content %}
<h1>Order {{order.id}}</h1>
<b>Status: </b>{{ order.status.1 }}
<div>
    <div>
        <h2>Address</h2>
        <p>{{ address.line1 }}</p>
        <p>{{ address.line2 }}</p>
        <p>{{ address.city }}</p>
        <p>{{ address.state }}</p>
        <p>{{ address.pincode }}</p>
    </div>

    <div>
        <input type="hidden" value="{{ order.id }}" id="order">
        <table class="table">
            <thead>
                <tr>
                    <td>Variant</td>
                    <td>Quantity</td>
                    <td>Amount</td>
                    <td>Status</td>
                    <td>Date Delivered</td>
                    <td>Return Complete</td>
                </tr>
            </thead>
            {% for order_item in order_items %}
            <tr>
                <td>{{ order_item.variant.product.name }} ({{ order_item.variant.name }})</td>
                <td>{{ order_item.quantity }}</td>
                <td>{{ order_item.total_amount }}</td>
                <td class = 'status {{ order_item.status.0 }}'>{{ order_item.status.1 }}</td>
                <td>{{ order_item.date_delivered }}</td>
                <td>
                    {% if order_item.status.0 == 'RR' %}
                    <button class="btn btn-success return-complete" data-id="{{ order_item.id }}">Return Complete</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <b>Total Amount: </b>{{ total_amount }}<br>
        <b>Commission: </b>{{ commission }}%<br>
        <b>You Get: </b>{{ you_get }}<br>
    </div>

    {% if shipped_btn %}
    <button class="btn btn-success shipped">Shipped</button>
    {% endif %}
    <button class="btn btn-success delivered {% if shipped_btn %}d-none{% endif %}">Delivered</button>

</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    order_id = $('#order').val()

    $(document).on('click', '.shipped', function (e){
        this_btn = $(this)
        myurl = '/order/ajax-sent-for-delivery/'

        $.ajax({
            type: 'POST',
            url: myurl,
            data: {
                'for_shipping':true,
                'unsent': false,
                'order_id': order_id,
            },
            dataType: 'json',
            success: function (data){
                $('.alert').remove()
                str = '<div class="alert alert-'+data.type+' alert-dismissible" role="alert">' +
                        data.message +
                        '</div>'
                $('nav').after(str)
                $('.status').text('Shipped')
                $('.C').text('Cancelled')
                $('.delivered').removeClass('d-none')
                this_btn.addClass('d-none')
            }
        })
    })

    $(document).on('click', '.not-shipped', function (e){
        myurl = '/order/ajax-sent-for-delivery/'

        $.ajax({
            type: 'POST',
            url: myurl,
            data: {
                'for_shipping':true,
                'unsent': true,
                'order_id': order_id
            },
            dataType: 'json',
            success: function (data){
                $('.alert').remove()
                str = '<div class="alert alert-'+data.type+' alert-dismissible" role="alert">' +
                        data.message +
                        '</div>'
                $('nav').after(str)
                $('.status').text('Not Shipped')
            }
        })
    })

    $(document).on('click', '.delivered', function (e){
        myurl = '/order/ajax-sent-for-delivery/'

        $.ajax({
            type: 'POST',
            url: myurl,
            data: {
                'for_shipping':false,
                'unsent': true,
                'order_id': order_id
            },
            dataType: 'json',
            success: function (data){
                $('.alert').remove()
                str = '<div class="alert alert-'+data.type+' alert-dismissible" role="alert">' +
                        data.message +
                        '</div>'
                $('nav').after(str)
                $('.status').text('Delivered')
                $('.C').text('Cancelled')
            }
        })
    })

    $(document).on('click', '.return-complete', function (e){
        var val = $(this).attr('data-id')
        btn = $(this)
        td = $(this).parent()
        myurl = '/order/ajax-return-complete/'

        if(confirm('Are you sure you have taken back return item?')){
            $.ajax({
                type: 'POST',
                url: myurl,
                data: {
                    'order_item_pk': val,
                },
                dataType: 'json',
                success: function (data){
                    $('.alert').remove()
                    if(data.type == 'success'){
                        td.prev().prev().text(data.message)
                        btn.remove()
                    }
                    $('.C').text('Cancelled')
                }
            })
        }

    })
</script>
{% endblock %}