{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Wishlist
{% endblock %}

{% block content %}
<h1>Wishlist</h1>
<div>
    {% if wishlist_is_empty %}
        <div>
            Wishlist is empty.
        </div>
    {% else %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Add to Cart</td>
                    </tr>
                </thead>
                {% for item in items %}
                <tr>
                    <td><a href="{% url 'product-description' item.variant.product.pk %}"><img width="200px" src = "{{ item.variant.product.image_url }}"></a></td>
                    <td>{{ item.variant.product.name }} ({{ item.variant.name }})</td>
                    <td>{{ item.variant.product.unit_price }}</td>
                    <td><button class = "btn btn-success" data-id="{{ item.variant.pk }}" id="add-to-cart">Add to Cart</button></td>
                </tr>
                {% endfor %}
            </table>

        </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).on('click', '#add-to-cart', function(e){
        quantity = 1
        variant_pk = $(this).attr('data-id')

        var cart = getCookie('cart')
		if (cart == undefined){
			cart = 0
			document.cookie ='cart=' + cart + ";domain=;path=/;SameSite=Lax;"
		}

        myurl = '/order/add-to-cart/'
        if (quantity>0){
            $.ajax({
                type: 'POST',
                url: myurl,
                data: {
                    'quantity': quantity,
                    'variant_pk': variant_pk,
                    'cart': cart
                },
                dataType: 'json',
                success: function (data){
                    console.log(data)
                    document.cookie ='cart=' + data.cart + ";domain=;path=/;SameSite=Lax;"
                    $('.alert').remove()
                    str = '<div class="alert alert-'+data.type+' alert-dismissible pt-4 mt-5" role="alert">' +
                            data.message +
                            '</div>'
                    $('nav').after(str)
                },
            })
        }
    })
</script>
{% endblock %}